.tbody tr td:nth-child(1) {
  text-align: start;
  padding-left: 1rem;
}
<<<<<<< HEAD

/* .tbody {
  height: 200px;
  overflow-y: scroll;
} */

.tableContainer {
  height: 300px;
  overflow-y: scroll;
}
.tableContainer table {
  position: sticky;
  top: 0;
  width: 100%;
}
=======
>>>>>>> 676d1e3ba76ba2ce92afb318650fea72a2fba505
