.previewPdf {
  width: 100%;
  height: 370px;
  overflow: hidden !important;
}
.previewPdf ::-webkit-scrollbar {
  display: none;
}
.previewPdf html body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
