@media not all and (min-width: 768px) {
  .menu {
    position: relative;
    ._navbarMenu.active {
      background: #ffffff !important;
      width: 300px;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;

      display: flex !important;
      flex-direction: column-reverse;
      padding: 20px 10px 0;
      border-radius: 0 10px 10px 0;
      z-index: 1000;
      justify-content: start;
      gap: 2rem;
      .optionMenu {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;
        .close {
          position: absolute;
          top: 0;
          right: 0;
        }
        div:nth-child(1) {
          padding-top: 4rem;
          background: #fff;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          align-items: start;
          justify-content: center;
          span {
            width: 100%;
            border-radius: 10px;
            height: 2.3rem;
            padding-left: 5px;
            &:hover {
              background: rgb(20, 20, 126);
              background: linear-gradient(
                90deg,
                rgba(20, 20, 126, 1) 0%,
                rgba(12, 12, 168, 1) 64%,
                rgba(0, 212, 255, 1) 100%
              );
              color: white;
            }
          }
        }
      }
      // ._submenu {
      //   display: flex;
      //   flex-direction: column;
      //   width: 100%;
      //   padding: 2px;
      //   gap: 1.4rem;

      //   .option {
      //     width: 100%;
      //   }
      //   div:nth-child(2) {
      //     display: flex;
      //     flex-direction: column;
      //     align-items: start;
      //     gap: 1.2rem;
      //     span {
      //       width: 100%;
      //       // border: 1px solid red;
      //       padding: 5px;
      //       background-color: #fff;
      //       border-radius: 0.5rem;
      //     }
      //   }
      // }
      // div:nth-child(2) {
      //   width: 100%;
      //   display: flex;
      // }
    }
  }
  header {
    position: fixed;
    width: 100%;
    // background: #000;

    height: 90px;
    z-index: 500;
  }
}
.avatarMenu {
  &:hover {
    ul {
      display: grid;
    }
  }
}
