body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
} */
